/* You can add global styles to this file, and also import other style files */
html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

mat-toolbar{
  min-height:64px;
  max-height:64px
 }

nav {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  padding: 8px 16px;
}
.container-number-asteroid {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding-top: 3rem;
}

.number-asteroid {
  font-size: 1.1rem;
  font-weight: bold;
}

.container-card {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding: 20px;

  li {
    padding: 2rem;
    list-style: none;
  }
}

.card.mat-mdc-card {
  background-color: #f7f7f7;
  color: #000;
  width: 500px;
  .card-image {
    height: 350px;
    object-fit: cover;
  }
}

.loader {
  width: 100%;
  height: 70%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.container-article {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  height: 100%;
  margin: 0 126px;
  .article-image {
    width: 50%;
    height: 70cqh;
    display: flex;
    justify-content: center;
    align-items: center;
    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }

  }
  .article-desc {
    padding:  0 25px;
    flex: 1;
    h1 {
      font-size: 1.375rem;
      font-weight: 700;
      line-height: 1.05em;
    }
    .article-copyright {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      width: 100%;
      border-top: 1px solid #2e2e32;
      padding-top: 1rem;
      h2 {
        font-size: 13px;

      }
    }
  }
}
