<div style="display: flex; flex-direction: column; align-items: center; margin-top: 20px;">
  <div style="display: flex">
    <h1>Count: {{ count() }}</h1>
    <h1 style="margin-left: 20px">DoubleCount: {{ doubleCount() }}</h1>
  </div>
  <div style="display: flex">
    <h1>CountObs: {{ countObs }}</h1>
    <h1 style="margin-left: 20px">DoubleCountObs: {{ doubleCountObs$ | async }}</h1>
  </div>
  <div style="margin-top: 50px">
    <button mat-button color="warn" (click)="resetValue()">Reset</button>
    <button mat-button color="primary" (click)="decrementValue()">Decrement</button>
    <button mat-button color="primary" (click)="incrementValue()">Increment</button>
  </div>
<!--  <div style="margin-top: 50px">
    <p >{{ conditionalCount() }}</p>
    <button mat-button color="primary" (click)="changeConditionalDouble()" style="margin-top: 40px">Double</button>
  </div>-->
<!--  <div style="margin-top: 50px">
    <button mat-button color="primary" (click)="changeStopCount()">ARRETE DE BOUGER</button>
  </div>-->

<!--  <div style="margin-top: 20px">
    <h3>EFFECT TIME</h3>
    <button mat-button color="primary" (click)="changeDisplayChild()">add child</button>
    <button mat-button color="warn" (click)="changeDisplayChild()">remove child</button>
    <div style="margin: 20px 0">
      <app-counter-child *ngIf="displayChild"></app-counter-child>
    </div>
  </div>-->
</div>
