.reveal pre {
    width: 100%;
}

.titre-accueil {
    font-size: 72px;
    font-weight: bold;
}

.image-accueil {
    width: 300px;
    height: 300px;
}

.line-through {
    text-decoration: line-through
}

.fakeMenu {
    box-sizing: border-box;
    height: 25px;
    background-color: #bbb;
    margin: 0 auto;
    border-top-right-radius: 5px;
    border-top-left-radius: 5px;
}

.fakeScreen {
    background-color: #151515;
    box-sizing: border-box;
    margin: 0 auto;
    padding: 20px;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;

    p {
        color: #9CD9F0;
        text-align: left;
        font-family: monospace;
        white-space: normal;
        overflow: hidden;
    }
    
    span {
        color: #fff;
        font-weight: bold;
    }
}

